.fundoA {
    background-color: #eec47b;
    width: 500px;
    height: 500px;
    }

.fundoB {
    background-color: #FFE4B5;
    width: 50%;
    height: 50%;
}

.corTextoB {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);    
    font-size: 25px;
    }

.fundC{
    background-color: #524d0e;  
    width: 50vw;
    height: 50%;
}

.fundoD{
    background-color: rgb(255,228,225);
     width: 50vw;
    height: 50%;
}