.card {
    background-color: rgb(209, 126, 126);
    width: 500px;
    height: fit-content;
    border-radius: 25px;
    border:solid 5px black;
    margin-bottom: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/706/706797.png');
    background-size: cover;
}
.main-color{
    color: blue;
}
